= form_tag search_path, method: :get do
  = text_field_tag :q, params[:q], type: 'search', placeholder: 'Search'
  = select_tag :context, options_for_select(%w[All Question Answer Comment User], params[:context])
  = submit_tag 'Search', class: 'btn btn-light'
